@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.box {
    width: 100%;
    color: white;
    margin: 30px auto;
    font-size: 30px;
    font-weight: 300;
    border-radius: 10px;
}

.img {
    width: 100%;
    height: 500px;
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
    margin-top: 5%;
}

.btn {
    padding: 12px;
    background-color: blueviolet;
    border-radius: 40px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 10px;
}

.btn:hover {
    color: white;
    background-color: aquamarine;
}

/* --------------------------------------navbar started-------------------------------------------- */
.navbar {
    width: 100% auto;
    font-size: 30px;
    border: 2px solid;
    display: flex;
    background-color: rgb(126, 139, 4);
    justify-content: space-between;
}
.name{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-left:none;
}
ul{
    display:flex;
    margin:0px 8px;
    text-decoration: none;
    list-style: none;
}
li{
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bolder;
    padding:5px 10px;
}
a{
    text-decoration: none;
    color: white;
}

/* .navbar li {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    float: left;
    align-items: center;
    margin-left: 50px;
    margin-right: 30px;
    list-style-type: none;
}

ul li a {
    float: right;
    text-decoration: none;
    color: rgb(5, 7, 148);
} */

ul li a:hover {
    background-color: rgb(47, 123, 136);
    border-radius: 10px;
}

/* -------------------------------------navbar ended----------------------------------------- */
/* -------------------------------content starts-------------------------------- */
.home-special {
    background-color: cornsilk;
    padding: 5px 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.special {
    color: brown;
    background-color: cornsilk;
    margin-top: 0px;
    padding-right: 5px;
    margin-bottom: 0px;
    width: 100%;
}

.special-child {
    height: 400px;
    width: 200px;
    margin: 20px;
}

.special-img {
    height: 300px;
    width: 100%;
}

.special-body {
    align-items: center;
}

h3 {
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    text-align: center;
    margin-bottom: 0px;
}

.btns {
    font-size: 20px;
    border-radius: 40px;
    background-color: rgb(51, 2, 39);
    padding: 10px;
    margin: 10px;
    color: white;
}

.btns:hover {
    background-color: coral;
}

.btn {
    background-color: deeppink;
}

.btn:hover {
    background-color: rgb(135, 75, 192);
}

.goto {
    width: 350px;
    background-color: crimson;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
}

/* -------------------------------content ends--------------------------------- */
/* -------------------------------menu starts--------------------------------------- */

.menu {
    width: 100% auto;
    background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D");
}

.container {
    width: 300px;
    height: 250px;
    border: 1px solid;
    margin: 30px auto;
    border-radius: 12px;
    text-align: center;
    background-color: chocolate;
}

.button {
    width: auto;
    border: none;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: cadetblue;
    font-size: 20px;
}

.img_box {
    display: flex;
    justify-content: space-between;
}

.images {
    margin: 30px auto;
    width: 350px;
    border: 1px solid black;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(10, 167, 31);
}

h3 {
    font-size: 30px;
    font-weight: bolder;
}

.image1 {
    border-radius: 50%;
    width: 300px;
    padding: 12px;
}

.image2 {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    padding: 12px;
}

/* --------------------------------------menu ends--------------------------------------- */

/* ----------------------------------order starts------------------------------- */
.body{
    width:100%;
    height:100%;
}
.order{
    border:2px solid grey;
    width:750px;
    padding:20px;
    padding-top:10px;
    margin-left:20%;
    margin-top:20px;
    background-color: bisque;
    margin-bottom:10px;
}
.labels{
    font-size:30px;
}
input{
   height:40px;
   width:500px;
}
select{
    height:40px;
    width:500px;
}
.button{
    padding:10px;
    font-weight:bolder ;
    background-color: rgb(32, 42, 225);
    border-radius: 40px;
    color:white;
    font-size: 20px;
}
.button:hover{
    background-color: brown;
}
h5{
    background-color: darkviolet;
    color:white;
    text-align: center;
    padding:10px;
    margin-bottom:0px;
}

/* ---------------------------order ends----------------------------------- */
.log{
    background-color: bisque;
    width:550px;
    height:220px;
    margin-top:10px;
    margin-left:35%;
    padding:10px;
}
.btn1{
    padding:5px;
    border-radius: 20px;
    background-color: blue;
    color:white;
    width:80px;
    margin-bottom: 10px;
}
.a1{
    color:blue;
    text-decoration: underline;
}

/* -------------------------------signin ends----------------------------------------- */

/* -------------------------------veg starts--------------------------------- */

.veg{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.veg1{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.veg-card{
    width:500px;
    height:430px;
    background-color: whitesmoke;
}
.veg-img{
    width:100%;
    height:200px;
}
.veg-body{
    padding:10px;
    text-decoration: none;

}
p{
    font-weight: bolder;
    font-size:15px;
}
.btn{
    padding:10px 18px;
    font-size: larger;
    font-weight: bolder;
    background-color: blue;
    border:1px solid blue;
    border-radius: 40px;
    color:white;
    margin-top:5px;
}
.btn:hover{
    background-color: coral;
}
a{
    text-decoration: none;
}

/* ---------------------------veg ends-------------------------------------- */

/* ----------------------------------nonveg starts----------------------------------- */



/* -----------------------------------footer starts------------------------------------------ */
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 50px ; */
    /* border-radius: 20PX; */
    padding: 30px;
    align-items: center;
    background-color: #190555;
    margin: 20px auto;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: rgb(10, 201, 159);
    font-weight: bold;
}

.SEC {
    width: 300px;
}
/* -------------------------footer ends----------------------------- */

@media (max-width:576px){
    .img{
      height:300px;
      margin-bottom:0px;
      margin-right: 0px;
      position:relative;
    }
    .content{
      font-size:xx-small;
      position:absolute;
      top:0;
      margin-top:80px;
    }
  }